* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-deu-nld.deu-nld.dix -text
/apertium-deu-nld.deu-nld.lrx -text
/apertium-deu-nld.deu-nld.t1x -text
/apertium-deu-nld.deu-nld.t2x -text
/apertium-deu-nld.deu-nld.t3x -text
/apertium-deu-nld.deu.tsx -text
/apertium-deu-nld.nld-deu.lrx -text
/apertium-deu-nld.nld-deu.t1x -text
/apertium-deu-nld.nld-deu.t2x -text
/apertium-deu-nld.nld-deu.t3x -text
/autogen.sh -text
/configure.ac -text
dev/freedict-deu-nld-0.1.dic -text svneol=unset#unset
dev/nld-eng-deu.gf.adjec -text
dev/nld-eng-deu.gf.nouns -text
dev/testvoc/inconsistency-summary.sh -text
dev/testvoc/inconsistency.sh -text
dev/testvoc/testvoc-summary.deu-nld.txt -text
dev/testvoc/testvoc-summary.nld-deu.txt -text
dev/testvoc/testvoc.sh -text
/modes.xml -text
/nld-deu.prob -text
texts/cuento.deu.txt -text
texts/cuento.nld.txt -text
texts/dewiki_0ad.deu.txt -text
texts/nlwiki_anno1503.nld.txt -text
texts/nlwiki_atoomijsbreker.nld.txt -text
texts/nlwiki_biodiesel.nld.txt -text
texts/nlwiki_chanoeka.nld.txt -text
texts/nlwiki_memorial_day.nld.txt -text
texts/nlwiki_priemgetal.nld.txt -text
texts/nlwiki_toekomst_van_de_aarde.nld.txt -text
texts/nlwiki_zuid-africa.nld.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
