* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-deu-nld.deu-nld.dix -text
/apertium-deu-nld.deu-nld.t1x -text
/apertium-deu-nld.deu-nld.t2x -text
/apertium-deu-nld.deu-nld.t3x -text
/apertium-deu-nld.deu.dix -text
/apertium-deu-nld.deu.tsx -text
/apertium-deu-nld.nld-deu.t1x -text
/apertium-deu-nld.nld-deu.t2x -text
/apertium-deu-nld.nld-deu.t3x -text
/apertium-deu-nld.nld.dix -text
/autogen.sh -text
/configure.ac -text
/deu-nld.prob -text
dev/freedict-deu-nld-0.1.dic -text svneol=unset#unset
/modes.xml -text
/nld-deu.prob -text
