/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/deu-nld.autobil.bin
/deu-nld.autogen.bin
/deu-nld.autolex.bin
/deu-nld.automorf.bin
/deu-nld.autopgen.bin
/deu-nld.mode
/deu-nld.prob
/deu-nld.rlx.bin
/deu-nld.t1x.bin
/deu-nld.t2x.bin
/deu-nld.t3x.bin
/install-sh
/missing
/modes
/nld-deu.autobil.bin
/nld-deu.autogen.bin
/nld-deu.autolex.bin
/nld-deu.automorf.bin
/nld-deu.autopgen.bin
/nld-deu.mode
/nld-deu.rlx.bin
/nld-deu.t1x.bin
/nld-deu.t2x.bin
/nld-deu.t3x.bin
/stamp-h1
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/.deps
/test/*-output.txt
